%btn {
    display: block;
    width: 100%;
    border: 1px solid;
    text-decoration: none;
    border-radius: 15px;
    text-align: center;
    padding: 10px;
    font-size: $small-font;
}