@import "partials/variables";
@import "partials/mixin";
@import "partials/extend";
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.test {
    .btn-success {
        @extend %btn;
        background: green;
        color: white;
    }
    .btn-danger {
        @extend %btn;
        background: red;
        color: white;
    }
    margin: 10px auto;
    width: 50%;
    h1 {
        font-size: $high-font;
    }
    .p1 {
        font-size: $avg-font;
    }
    p:last-child {
        background: $primary;
        cursor: pointer;
        font-size: $small-font;
        @include setTransition(background-color, 0.5s);
        &:hover {
            background: $secondary;
        }
    }
}